<!--Footer section starts-->

<!-- <section class="footer" id="contact">
    <div class="logo">
        <a routerLink="/">
            <img src="./assets/images/weblogo.png" alt="logo" width="220" height="70">
        </a>
    </div>
    <div class="box-container">

        <div class="box">
            <h3>Quick Links</h3>
            <a href="#home" class="link"><i class="fas fa-angle-right"></i>Home</a>
            <a href="#about" class="link"><i class="fas fa-angle-right"></i>about</a>
            <a href="#shop" class="link"><i class="fas fa-angle-right"></i>shop</a>
            <a href="#category" class="link"><i class="fas fa-angle-right"></i>category</a>
        </div>
        
        <div class="box">
            <h3>My Favorite</h3>
            <a href="#" class="link"><i class="fas fa-angle-right"></i>My Favorite</a>
            <a href="#" class="link"><i class="fas fa-angle-right"></i>My orders</a>
            <a href="#" class="link"><i class="fas fa-angle-right"></i>My Wishlists</a>
            <a href="#" class="link"><i class="fas fa-angle-right"></i>privacy policy</a>
            
        </div>
        
        <div class="box">
            <h3>Contact Details</h3>
            <a href="#" class="link"><i class="fas fa-phone"></i>+111-222-333</a>
            <a href="#" class="link"><i class="fas fa-phone"></i>+111-222-333</a>
            <a href="#" class="link"><i class="fas fa-envelope"></i>dekodex@gmail.com</a>
            <a href="#" class="link"><i class="fas fa-map"></i>mumbai,India - 401204</a>
            <div class="share">
                <a href="" class="fab fa-facebook-f"></a>
                <a href="" class="fab fa-twitter"></a>
                <a href="" class="fab fa-instagram"></a>
                <a href="" class="fab fa-youtube"></a>
            </div>
        </div>

        <div class="box">
            <h3>Newsletter</h3>
            <p>Subscribe for latest updates</p>
            <form action="">
                <input class="email" type="email" placeholder="Email Address">
                <input class="btn" value="Subscribe" type="submit">
            </form>
        </div>
        
    </div>
    <div class="credit">Designed by <span>SOB-Technologies</span>|| all rights reserved.</div>

</section> -->